@model Cari.Models.CariHareket

@{
    ViewData["Title"] = "Sil";
}

<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerId)
        </dt>
        <dd class = "col-sm-10">
            @ViewBag.Customer.Unvan
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IslemTuru)
        </dt>
        <dd class = "col-sm-10">
            @Model.IslemTuruArray[Model.IslemTuru]
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tutar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tutar)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tarih)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tarih)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger btn-sm" />
        <a class="btn btn-primary btn-sm" role="button" asp-action="Index">Geri</a>
    </form>
</div>
