@model Cari.Models.CariHareket

@{
    ViewData["Title"] = "Cari Hareket Detayı";
}

<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Firma_Id)
        </dt>
        <dd class = "col-sm-10">
            @ViewBag.Customer.Unvan
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Islem_Turu)
        </dt>
        <dd class = "col-sm-10">
            @Model.IslemTuruArray[Model.Islem_Turu]
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tutar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tutar)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tarih)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tarih)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-warning btn-sm" role="button" asp-action="Edit" asp-route-id="@Model?.Id">Düzenle</a>
    <a class="btn btn-primary btn-sm" role="button" asp-action="Index">Geri</a>
</div>
