@model IEnumerable<Cari.Models.CariHareket>

@{
    ViewData["Title"] = "Cari Hareket";
}

<div class="text-end">
    <a class="btn btn-primary btn-sm" role="button" asp-action="Create">Yeni Kayıt</a>
</div>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Firma_Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Islem_Turu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tutar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tarih)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Firma_Id)
                    </td>
                    <td>
                        @ViewBag.IslemTuru[item.Islem_Turu]
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Tutar)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Tarih)
                    </td>
                    <td>
                        <a class="btn btn-primary btn-sm" role="button" asp-action="Details" asp-route-id="@item.Id">Detay</a>
                        <a class="btn btn-warning btn-sm" role="button" asp-action="Edit" asp-route-id="@item.Id">Düzenle</a>
                        <a class="btn btn-danger btn-sm" role="button" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
