
@{
    ViewData["Title"] = "Cari Hareket";
}

<div class="text-end">
    <a class="btn btn-primary btn-sm" role="button" asp-action="Create">Yeni Kayıt</a>
</div>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                Firma
            </th>
            <th>
                İşlem Türü
            </th>
            <th>
                Tutar
            </th>
            <th>
                Tarih
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.Unvan
                    </td>
                    <td>
                        @ViewBag.IslemTuru[item.IslemTuru]
                    </td>
                    <td>
                        @item.Tutar
                    </td>
                    <td>
                        @item.Tarih
                    </td>
                    <td>
                        <a class="btn btn-primary btn-sm" role="button" asp-action="Details" asp-route-id="@item.Id">Detay</a>
                        <a class="btn btn-warning btn-sm" role="button" asp-action="Edit" asp-route-id="@item.Id">Düzenle</a>
                        <a class="btn btn-danger btn-sm" role="button" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
