@model Cari.Models.Customer

@{
    ViewData["Title"] = "Firma Detayı";
}
<div class="row">
    <div class="col-8">
        <table class="table table-bordered">
            <tr>
                <td>@Html.DisplayNameFor(model => model.Unvan)</td>
                <td>@Html.DisplayFor(model => model.Unvan)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.Telefon)</td>
                <td>@Html.DisplayFor(model => model.Telefon)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.Adres)</td>
                <td>@Html.DisplayFor(model => model.Adres)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.Tarih)</td>
                <td>@Html.DisplayFor(model => model.Tarih)</td>
            </tr>
        </table>
    </div>
    <div class="col-4">
        <div class="card text-white bg-danger mb-3">
            <div class="card-header">Bakiye</div>
            <div class="card-body">
                <h5 class="card-title text-end">@ViewBag.Bakiye TL</h5>
            </div>
        </div>
    </div>
</div>

<div>
    <a class="btn btn-warning btn-sm" role="button" asp-action="Edit" asp-route-id="@Model?.Id">Düzenle</a>
    <a class="btn btn-primary btn-sm" role="button" asp-action="Index">Geri</a>
</div>
